:root {
    --main-color: white;
    --banner-text-color: black;
    --button-hover: #99c7df;
    --header-color: #263044;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.burger-icon {
    font-size: 3rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

header {
    width: 100%;
    background-color: var(--header-color);
    color: var(--main-color);
    height: 107px;
}

.logo {
    font-size: 30px;
    font-weight: 1,5rem;
    color: var(--main-color);
    margin-left: 80px;
    margin-top: 40px;    
}

header .menu {
    list-style-type: none;
    margin-top: 40px;
    margin-left: 200px;
}

header .menu {
    list-style-type: none;
    display: none;
}

header input:checked ~ .menu {
    display: flex;
}

header .menu {
    flex-direction: column;
}

header .menu a {
    text-decoration: none;
    color: var(--main-color);
}

header .menu a:hover {
    color: var(--button-hover);
}

@media (min-width: 610px) {
    
    header nav {
        display: flex;
    }

    header .burger-icon {
        display: none;
    }

    header .menu {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        flex-direction: row;
    }
}

.banner {
    background-image: url(../img/header-flat-photo.jpeg);    
    background-size: cover;
    background-position: center;        
    color: var(--banner-text-color);
    display: flex;
    min-height: 700px;
    flex-direction: column;
}

.banner-text {
    margin-left: 60px;
    margin-top: 250px;
    font-size: 40px;
    text-align: left;    
}

.banner-description {
    font-size: 20px;
    margin-left: 40px;
}

.our-flats {
    background-image: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* map */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}